<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xretail" translate="label" sortOrder="10">
            <label>CONNECTPOS</label>
        </tab>
        <section id="xpos" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>ConnectPOS</label>
            <tab>xretail</tab>
            <resource>SM_XRetail::pos_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>License Configuration</label>
                <field id="retail_license" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>License Key</label>
                    <comment>
                        <model>SM\XRetail\Model\Comment</model>
                    </comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="advance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advance Configuration</label>
                <field id="php_run_time" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Php Run time</label>
                </field>
                <field id="sync_realtime" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sync Realtime</label>
                    <source_model>SM\XRetail\Config\Model\Realtime</source_model>
                    <comment>If you use the 'manual' mode, you need to sync products manually using product grid mass action. Other entities such as order, customer, etc. will be synced similar to the 'immediately' mode</comment>
                </field>
                <field id="realtime_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Realtime URL</label>
                </field>
            </group>
            <group id="secure" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advance Secure</label>
                <field id="token_expire_after" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Token Expire After (seconds)</label>
                </field>
            </group>
            <group id="order_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Email</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send order confirmation email for orders from ConnectPOS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Order Confirmation Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="order_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Settings</label>
                <field id="enable_prefix" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Add prefix to increment ID of orders from ConnectPOS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_prefix" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Increment ID prefix</label>
                </field>
            </group>
        </section>
        <section id="xretail" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Other Settings</label>
            <tab>xretail</tab>
            <resource>SM_XRetail::pos_configuration</resource>
            <group id="pos" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="enable_secure_request" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Secure Request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_customer_unsubscribe" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Block customer from unsubscribing newsletter on POS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When this setting is on, unsubscribing customer from newsletter is blocked on ConnectPOS</comment>
                </field>
            </group>
        </section>
    </system>
</config>
